.link_block {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.memorialhall_block {
  width: 55%;
  text-align: center;
  justify-content: center; 
  align-items: center;
}

.memorialhall_block .tablist {
  display: flex;
  font-family: p22-nudgewink-pro,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5em;
}

.memorialhall_block .tab {
  padding: 0.5em 1em;
  flex: 1 1 auto;
  position: relative;
}

.memorialhall_block .tab:hover{
  background-color:  #fbe9e7  ;
}

.memorialhall_block .tab.active::after {
  content: '';
  background-color:  #0039cb  ;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5px;
}

.memorialhall_block .contentlist {
  width: 100%;
  height: 15em;
  position: relative;
}

.memorialhall_block .content {
  width: 100%;
  height: 180px;
  position: absolute;
  background-color:  #ffffe6  ;
  opacity: 0;
  pointer-events: none;
}

.memorialhall_block .content.active {
  opacity: 1;
  pointer-events: initial;
}

.memorialhall_block .content p {
  width: 100%;
}

.link_block {
  font-family: Roboto, sans-serif;
}

nav {
  margin-right: 20px;
  font-size: 1em;
}

nav a {
  font-size: 1.5em;
  padding: 0.5em;
  text-decoration: none;
  font-family: p22-nudgewink-pro,sans-serif;
  font-weight: 300;
  font-style: normal;
  color:  #F2CE16 ;
}

a:hover {
  color: #AE2630 ;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main img {
  width: 570px;
  height: 270px;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: #2D3073 ;
  font-family: Arial, Helvetica, sans-serif;
}

main p {
  margin-top: 2rem;
  width: 100%;
}

address {
  margin-top: 2rem;
}

main, header, footer {
  flex-shrink: 0;
}

h1 {
  font-family: p22-nudgewink-pro,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.5em;
  text-align: center;
  color: #AE2630 ;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

a {
  text-decoration: none;
}

.tablist ul {
  margin: 0;
  padding: 0;
  width: 980px;
}

.tablist li {
  display: inline-block;
}

.tablist a {
  display: block;
  font-weight: bold;
}
/* Active tab */

.tablist li.active {
  background: #FFF;
  color: #F2CE16 ;
}

.tablist li.active a {
  color: inherit;
}
/* Tab content */

.tabs-content {
  background: #FFF;
  overflow: hidden;
}

/* Hide all but first content div */

.tabs-content div:not(:first-child) {
  display: none;
}